* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
}
.mainBanner {
    width: 100%;
    height: 280px;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.mainBanner .text {
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    animation: titleText 1s ease-in-out;
}

@keyframes titleText {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    92% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* item */
.itemWrap {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 7px;
    position: absolute;
    left: 23%;
}

.item {
    aspect-ratio: 6 / 5;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.imgBox {
    width: 100%;
    height: 100%;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
}

.textBox p {
    color: white;
    margin: 5px 0 0;
}

.textBox__name {
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(100px);
}

.textBox__price {
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(100px);
}

.item:after {
    content: "";
    display: block;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.item:hover:after {
    opacity: 1;
}

.item:hover .imgBox img{
    transform: scale(1.1);
    filter: blur(3px);
}

.item:hover .textBox__name {
    opacity: 1;
    transform: translateY(0px);
}

.item:hover .textBox__price {
    opacity: 1;
    transform: translateY(0px);
}

.item:after,
.item .imgBox img,
.item .textBox__name {
    transition: all 0.4s ease-in-out;
}
.item .textBox__price {
    transition: all 0.4s ease-in-out 0.15s;
}


/* menu bar */
.menu__bar {
    width: 180px;
    height: 220px;
    background-color: orange;
    padding: 10px 0 0 20px;
    border-radius: 10px;
    position: absolute;
    left: 210px;
    display: flex;
    flex-direction: column;
}

.menu__bar p {
    color: white;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.menu__bar p:hover {
    transform: translateX(20px);
}

.menu__checkin {
    position: absolute;
    top: 240px;
    left: 0;
    width: 180px;
    background-color: black;
    padding-left: 20px;
}

